@using TopNews.Core.DTOs.Post;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using X.PagedList;
@model IPagedList<PostDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-center">Новини!!!</h1>
    <div class="row">
        <div class="col-md-8 mb-4 offset-md-2">
            <form method="post" asp-action="Search" asp-controller="Home">
                <div class="input-group input-group-lg">
                    <input type="search" name="searchString" class="form-control form-control-lg" placeholder="Search...">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            @if (post.ImagePath == "Default.png")
                            {
                                <img class="img-fluid" src="~/images/posts/Default.png" alt="Photo">
                            }
                            else
                            {
                                <img class="img-fluid" src="~/images/posts/@post.ImagePath" alt="Photo">
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a asp-controller="Home" asp-action="PostPage" asp-route-id="@post.Id" class="link-dark">
                                    <h5 class="card-title">@post.Title</h5>
                                </a>
                                <p>Publish Date : @post.PublishDate / Category : <a asp-controller="Home" asp-action="PostsByCategory" asp-route-id="@post.CategoryId" class="link-dark">@post.CategoryName</a></p>
                                
                                <p class="mb-0">@Html.Raw(@post.Description)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
            @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
            {
            ActiveLiElementClass = "active",
            PageClasses = new[]{ "page-link"},
            LiElementClasses=new[] { "page-item" },
            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
            LinkToNextPageFormat = "Next",
            LinkToPreviousPageFormat = "Prev",
            MaximumPageNumbersToDisplay = 3,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            DisplayLinkToNextPage = PagedListDisplayMode.Never
            })
        </div>
        @if (Model.Count() <= 0)
        {
            <h2>No posts were found for your query.</h2>
        }
    </div>
</div>
